nav {
  float: left;
  max-width: 160px;
  height: 100%;
  margin: 0;
  padding: 0 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li:first-child {
  padding-top: 0px;
}

nav ul li:not(:first-child) {
  padding-top: 15px;
}
